<h2>Orders Index Page</h2>

<% @orders.each do |order| %>
<section id ="section-order-<%=order.id%>">
  <p>Order id: <%=  link_to order.id, "/profile/orders/#{order.id}" %></p>
  <p>Order Created: <%=  order.created_at %></p>
  <p>Order Updated: <%=  order.updated_at %></p>
  <p>Order Current Status: <%=  order.current_status %></p>
  <p>Order Total Quantity: <%=  order.total_quantity %></p>
  <p>Order Grand Total: <%=  order.grand_total %></p>
</section>
<% end %>
