<h2>Orders Index Page</h2>

<% @orders.each do |order| %>
<section id ="section-order-<%=order.id%>">
  <p><%=  order.id %></p>
  <p><%=  order.created_at %></p>
  <p><%=  order.updated_at %></p>
  <p><%=  order.current_status %></p>
  <p><%=  order.total_quantity %></p>
  <p><%=  order.grand_total %></p>
</section>
<% end %>
