<h2>Orders Show Page</h2>

<section>
  <p>Order id: <%=  @order.id %></p>
  <p>Order Created: <%=  @order.created_at %></p>
  <p>Order Updated: <%=  @order.updated_at %></p>
  <p>Order Current Status: <%=  @order.current_status %></p>
  <p>Order Total Quantity: <%=  @order.total_quantity %></p>
  <p>Order Grand Total: <%=  @order.grand_total %></p>
  <%= link_to "Cancel Order" if @order.current_status == 'pending' %>
  <% @order.items.each do |item| %>
  <section id="order-item-<%=item.id%>">
    <p>Item Name: <%= item.name %></p>
    <p>Item Description: <%= item.description %></p>
    <p>Item Order Count: <%= item.order_count(@order.id) %></p>
    <p>Item Price: <%= item.price %></p>
    <p>Item Order Subtotal: <%= item.order_subtotal(@order.id) %></p>
    <img src= <%= item.image %> />
  </section>
  <% end %>
</section>
