<section class="user-dashboard">
  <h2>User Profile</h2>
  <h2><%=current_user.name%></h2>
  <p><%= current_user.street_address %></p>
  <p><%= current_user.city %></p>
  <p><%= current_user.state %></p>
  <p><%= current_user.zip %></p>
  <p><%= current_user.email %></p>
  <p><%= current_user.role %></p>
</section>
