<section class="user-dashboard">
  <h2>Merchant Dashboard</h2>
	<%= binding.pry %>
 	<%= @merchant.name %>
 	<%= @merchant.address %>
 	<%= @merchant.city %>
 	<%= @merchant.state %>
 	<%= @merchant.zip %>

	<%= @merchant.items.orders.each do |order| %>
		<%= link_to "#{order.id}", "/merchant/orders/"#{order.id}" %>
		<%= order.date %>
		<%= order.sum(:items) %>
		<%= order.sum(:price) %>
	<% end %>

	<%= button_to "All Items", "/merchant/items", method: :get %>

	


</section>
