<section class="user-dashboard">
  <h2>Merchant Dashboard</h2>

 	<%= @merchant.name %>
 	<%= @merchant.address %>
 	<%= @merchant.city %>
 	<%= @merchant.state %>
 	<%= @merchant.zip %>

	<%= @merchant.items.orders.each do |order| %>
		<%= link_to "#{order.id}", "/merchant/orders"%>
		<%= order.date %>
		<%= order.sum(:items) %>
		<%= order.sum(:price) %>
	<% end %>
</section>

<section id= "all-items-button">
  <%= button_to "All Items", "/merchants/#{@merchant.id}/items", method: :get %>
</section>
